<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA Hackathon</title>
    <h1 class="center">NBA Hackathon</h1>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <br>

  </head>

  <body>
    <h2 class="center"> Results </h2>
    <br>
    {% if api_data %}
      {% for player in api_data['players'] %}
        <h3 class="center">Twitter Handle: {{ player['handle'] }}</h3>
        <h3 class="center">Tweet count: {{ player['count'] }}</h3>
        <h3 class="center">Tweets:</h3>
        {% for tweet in player['tweets'] %}
          {{ tweet }}
          <br>
        {% endfor %}
        <br>
      {% endfor %}
    {% else %}
      <h2 class="center"> Something went wrong. </h2>
    {% endif %}


  </body>
</html>

