<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA Hackathon</title>
    <h1 class="center">NBA Hackathon</h1>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <br>

  </head>

  <body>
    <h2 class="center"> Results </h2>
    <br>
    {% if api_data %}
      <h3 class="center">Twitter Handle: @{{ api_data['handle'] }}</h3>
      <h3 class="center">Tweet count: {{ api_data['count'] }}</h3>
      <h3 class="center">Tweets:</h3>
      {% for tweet in api_data['tweets'] %}
        {{ tweet }}
        <br>
      {% endfor %}
    {% else %}
      <h2 class="center"> Something went wrong. </h2>
    {% endif %}


  </body>
</html>

